<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fractured Cosmos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='global.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fractured_cosmos_icon.ico') }}">
</head>
<body>
    <!-- The Background Layout -->
    <div class="space">
        <div class="stars"></div>
        <div class="stars-medium"></div>
    </div>

    <div class="logo">
        <img class="" src="{{url_for('static',filename='fractured_cosmos_logo.png')}}" alt="Fractured Cosmos">
    </div>

    <nav class="top-nav">
        <ul class="nav-links">
            <a href="index">Home</a>
            <a href="about">About Us</a>
            <a class="active" href="contact">Contact Us</a>
            <a class='menu-button'>=</a>
        </ul>
    </nav>
</body>
</html>